@import "./reset.css";

body {
    font-family: 'Poppins', 'Arial', sans-serif;
}

.container {
    margin: 0 auto; 
    padding: 0 30px;
    max-width: 1230px;    
}


.header {
    padding-top: 46px;
    background-color: #F1F1F1;
    color:#000000;
}

.header-nav {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    color: #000000;
}

.logo::after {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.nav-link {       
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}

.nav-link.active {
    color: #606060;
}

.nav-button {
    display: none;
}

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-title {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 600;
}

.header-description {
    font-size: 14px;
    line-height: 2;
}


.services {
    padding: 90px 0;
    color: #000000;
}

.services-row {
    display: flex;
    column-gap: 30px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.service-card-description {
    font-size: 14px;
    line-height: 2; 
}


.portfolio {
    padding: 90px 0;  
    background-color: #F1F1F1;
    color: #070707;
}

.portfolio-title {
    margin-bottom: 70.33px;
    font-size: 34px;
    font-weight: 600;
    text-align: center; 
}

.portfolio-project {
    text-align: center;
}

.portfolio-project + .portfolio-project {
    margin-top: 90px;
}

.portfolio-project-img {
    margin-bottom: 40px;
}

.portfolio-project-title {  
    font-size: 18px;
    line-height: 1.5;   
}

.portfolio-project-title a {
    display: inline-block;
    color: #070707;
    border-bottom: 1px solid;    
    line-height: 0.85;
}


.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 600;
    color: #070707;
}

.contacts-description { 
    margin: 0 auto 40px;
    max-width: 296px;
    font-size: 18px;
    color: #070707;
}

.contacts-button-wrapper {
    margin-bottom: 80px;
}

.contacts-button {
    display: inline-block;
    padding: 7px 23px;
    background-color: #070707; 
    border-radius: 21px;
    font-size: 18px;
    color: #FFFFFF;

    transition: background-color 0.1s ease-in, top 0.1s ease-in;
}

.contacts-button:hover, .contacts-button:focus {
    background-color: #565656; 
}

.contacts-button:active {
    position: relative;
    top: 1px;
}

.contacts-socials-wrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    column-gap: 60px;
}

.contacts-footer {
    font-size: 14px;
    color: #828282;
}
