@import "./reset.css";

body {
    font-family: 'Poppins', 'Arial', sans-serif;
}

.container {
    margin: 0 auto; 
    padding: 0 30px;
    max-width: 1230px;    
}

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
    color:#000000;
}

.header-nav {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    color: #000000;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.nav-link {       
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}

.nav-link.active {
    color: #606060;
}

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-title {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 600;
}

.header-description {
    font-size: 14px;
    line-height: 2;
    font-weight: 400; 
}

